{
  "singleQuote": true,
  "tabWidth": 2,
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "^(ethers/(.*)$)|^(ethers$)",
    "^(viem/(.*)$)|^(viem$)",
    "",
    "^(@mui/material/(.*)$)|^(@mui/material$)",
    "",
    "^(@mui/icons-material/(.*)$)|^(@mui/icons-material$)",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "queryClient",
    "",
    "^graphql/(.*)$",
    "",
    "store",
    "^store/(.*)$",
    "",
    "^hooks/(.*)$",
    "",
    "^components/(.*)$",
    "",
    "^utils/(.*)$",
    "",
    "^constants/(.*)$",
    "",
    "^types/(.*)$",
    "",
    "^[./]"
  ],
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
